/* GLOBAL */
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";

}
p,h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    color: var(--black);
}

.pl-0{
    padding-left: 0;
}

p{
    font-size: 16px;
}

.posSticky {
    position: sticky !important;
    top: 0;
    left: 0;
}

.textWarning{
    color: var(--black);
    background: #F7F0E6;
    border: #FFC309 1px solid;
    padding: 12px 20px;
    border-radius: 4px;
}

.numberSelected{
    border: solid 2px #3980FF !important;
}

.numberSelected2{
    color: var(--primary) !important;
}

.numberAnswered{
    background: #494747 !important;
    border: solid 2px #494747 !important;
}

.numberAnswered2{
    color: var(--white) !important;
}

.scroll{
    flex-wrap: wrap;
    overflow: scroll;
}

.clean{
    padding: 0;
    margin: 0;
}

.h100{
    height: 100%;
}

::placeholder { 
    color: #C8C8C8;
    font-size: 15px;
}

a{
    text-decoration: none;
}

.displayNone{
    display: none !important;
}

.displayBlock{
    display: block !important;
}

.buttonFull{
    background: var(--primary);
    width: 100%;
    border-radius: 4px;
    padding: 15px 0;
    border: none;
    color: var(--white);
    transition: .3s;
}

.buttonFull3{
    background: var(--primary);
    width: 100%;
    border-radius: 4px;
    padding: 10px 0;
    border: none;
    color: var(--white);
    transition: .3s;
}

.buttonFull2{
    background: var(--bgLightBlue);
    width: 100%;
    border-radius: 4px;
    padding: 15px 0;
    border: none;
    color: var(--primary);
    transition: .3s;
}

.buttonFull2:hover{
    transition: .3s;
    transform: translateY(-10px);
    box-shadow:0px 30px  50px -5px rgba(0, 0, 0, .3);
    background: var(--primary);
    color: white;
}

.buttonFull3:hover{
    transition: .3s;
    transform: translateY(-10px);
    box-shadow:0px 30px  50px -5px rgba(0, 0, 0, .3);
    background: var(--primary);
    color: white;
    background: #2167e0;
}

.buttonFull:hover{
    transition: .3s;
    transform: translateY(-10px);
    box-shadow:0px 30px  50px -5px rgba(0, 0, 0, .3);
    background: #2167e0;
}

.myButton1{
    background: var(--primary);
    border-radius: 4px;
    padding: 10px 40px;
    border: none;
    color: var(--white);
    transition: .3s;
}

.myButton2{
    background: var(--bgLightBlue);
    border-radius: 4px;
    padding: 10px 40px;
    border: none;
    color: var(--primary);
    transition: .3s;
}


.myButton2:hover{
    background: rgb(167, 187, 243);
    transform: translateY(-5px);
}

.myButtonDisable{
    background: var(--disable);
    width: 100%;
    border-radius: 4px;
    padding: 10px 30px;
    border: none;
    color: var(--white);
    transition: .3s;
    pointer-events: none;
}

.myButtonSuccess{
    background: #23D760;
    padding: 10px 40px;
    border-radius: 4px;
    border: none;
    color: var(--white);
    transition: .3s;
}

.myButtonSuccess:hover{
    background: #0c9339;
    transform: translateY(-5px);
}

.myButtonDisable2{
    background: var(--disable);
    padding: 10px 40px;
    border-radius: 4px;
    padding: 10px 30px;
    border: none;
    color: var(--white);
    transition: .3s;
    pointer-events: none;
}

.myButton1:hover{
    background: var(--buttonHover);
    transform: translateY(-5px);
    box-shadow:0px 30px  30px -5px rgba(0, 0, 0, .3);
}



.myInput{
    background: var(--bgInput);
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    width: 100%;
    padding: 15px 20px;
}

.myInput2{
    background: var(--bgInput);
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    width: 100%;
    padding: 12px 20px;
    transition: .3s;
}


:root {
    --primary: #3980FF;
    --black: #494747;
    --gray: hsl(0, 2%, 69%);
    --white: #FFFFFF;
    --bgLightBlue: #eef1f7;
    --bgInput: #F8F8F8;
    --disable: #B3AFAF;
    --buttonHover: #2167e0;
    /*  */
    --medium: 500;
    --bold: 700;
    --semiBold: 600;
}

.liveGradient {
    background: linear-gradient(330deg, #22b4fa, #02bcff, #54bcfc, #d855f2);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

.liveGradient2 {
    background: linear-gradient(330deg, #ffffff, #eef1f7, #9edcfe98, #eef1f7);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}


@-webkit-keyframes AnimationName {
0% {
    background-position: 1% 0%
}

50% {
    background-position: 99% 100%
}

100% {
    background-position: 1% 0%
}
}

@-moz-keyframes AnimationName {
0% {
    background-position: 1% 0%
}

50% {
    background-position: 99% 100%
}

100% {
    background-position: 1% 0%
}
}

@keyframes AnimationName {
0% {
    background-position: 1% 0%
}

50% {
    background-position: 99% 100%
}

100% {
    background-position: 1% 0%
}
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border-top: solid #3980FF 10px;
    width: 40%; 
  }

  .modalz .textWarning{
    font-weight: var(--medium) !important;
    padding: 10px 20px;
    width: 130px;
    font-size: 16px;
    margin-bottom: 30px;
}

.modalz p{
    font-weight: var(--semiBold);
    font-size: 20px;
}

.modalz .buttonWrapper .buttonFull2{
    width: 49% !important;
    padding: 13px 0;
    margin-top: 40px;
}

.modalz .buttonWrapper .buttonFull{
    width: 49% !important;
    padding: 13px 0;
    margin-top: 40px;
}

/* DASH EDIT PAKET */

.dashboardAdmin .adminEditPaket .pagination a h3{
    color: var(--primary);
    font-weight: var(--medium);
}

.dashboardAdmin .adminEditPaket .pagination a h3:hover{
    text-decoration: underline;
    color: #0c2f6b;
}

.dashboardAdmin .adminEditPaket .pagination h3:nth-child(2){
    padding-right: 16px;
    padding-left: 16px;
}

.dashboardAdmin .adminEditPaket .pagination h3:nth-child(1){
    padding-right: 0;
}
.dashboardAdmin .adminEditPaket .pagination h3:nth-child(3){
    padding-left: 0;
}

/* DASH CREATE TASK */

.dashboardAdmin .adminCreate .datePickerWrapper:hover{
    cursor: pointer;
    background: #2167e020;
    transition: .3s;
}

.dashboardAdmin .adminCreate span{
    color: var(--black);
}

.dashboardAdmin .adminCreate .form p{
    font-size: 16px;
    color: var(--gray);
}

.dashboardAdmin .adminCreate .form .textPilihTanggal{
    color: var(--black);
    font-size: 15px;
}

.dashboardAdmin .adminCreate .inputWrapper input, .dashboardAdmin .adminCreate .inputWrapper textarea, .dashboardAdmin .adminCreate .datePickerWrapper, .dashboardAdmin .adminCreate .addSoalWrapper {
    margin-top: 15px;
 }

.dashboardAdmin .adminCreate .inputWrapper {
    margin-bottom: 30px;
}

.dashboardAdmin .adminCreate .rowInputWrapper{
    background: var(--white);
    padding: 20px 20px 20px 20px;
    /* padding: 30px 30px; */
    border-radius: 4px;
}

.dashboardAdmin .adminCreate .contentRight .inputWrapper .inputDatePicker{
   height: 100%;
   border: none !important;
   background: none;
   outline: none;
}
.dashboardAdmin .adminCreate .contentRight .addSoalWrapper{
    background: var(--bgInput);
    border-radius: 4px;
    border: 2px dashed #E5E5E5;
    height: 100px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    margin-bottom: 50px;
}
.dashboardAdmin .adminCreate .contentRight .addSoalWrapper:hover{
    background: var(--bgLightBlue);
    transition: .3s;
    cursor: pointer;
}
.dashboardAdmin .adminCreate .contentRight .inputWrapper .datePickerImg{
   margin-right: 12px;
}
.dashboardAdmin .adminCreate .contentRight .inputWrapper .datePickerImg+p{
   /* margin-top: 2px; */
}
.dashboardAdmin .listWrapper{
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 25px;
}


.dashboardAdmin .listTask h5{
    font-size: 16px;
    font-weight: var(--semiBold);
    margin-top: 4px;
}

.dashboardAdmin .listTask p{
    font-size: 16px;
    color: var(--gray);
}

.dashboardAdmin .listTask{
    margin-top: 40px;
}
.dashboardAdmin .inputBar{
    cursor: pointer;
}
.dashboardAdmin .listTest{
    border-top: 1px solid rgb(228, 225, 225);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: var(--white);
}
.dashboardAdmin .listTest p{
    cursor: pointer;
    padding: 20px 20px;
    transition: .3s;
}
.dashboardAdmin .listTest p:hover{
    background: var(--primary);
    color: var(--white);
    transition: .3s;
}
.dashboardAdmin .contentRight .content{
    background: var(--bgLightBlue);
    padding: 20px 30px;
}

.dashboardAdmin .contentRight h4{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: var(--medium);
}

.dashboardAdmin .contentRight h3{
    padding: 20px 30px;
    color: var(--black);
    font-size: 20px;
    font-weight: var(--semiBold);
}

.dashboardAdmin .contentRight .inputWrapper .inputBar{
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
}

.dashboardAdmin input{
    font-size: 15px;
}

.dashboardAdmin .listMenuLogout{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    padding: 15px 20px;
    transition: .3s;
    cursor: pointer;
}

.dashboardAdmin .listMenuLogout p{
    color: #EB435A;
}


.dashboardAdmin .listMenuLogout p{
    transition: .3s;
}


.dashboardAdmin .listMenuLogout:hover p{
    cursor: pointer;
    transform: translateX(10px);
    transition: .3s;
}

.dashboardAdmin .menuWrapper{
    text-align: center;
    /* padding-left: 30px; */
    margin: 40px 10px 10px 10px;
}

.dashboardAdmin .listMenu{
    margin-bottom: 10px;
    padding: 15px 20px;
    transition: .3s;
}

.dashboardAdmin .listMenu:hover{
    cursor: pointer;
    border-radius: 4px;
    background: var(--primary);
    transition: .3s;
}

.listMenuActive{
    color: white;
    border-radius: 4px;
    background: var(--primary);
    padding: 15px 20px;
}

.svgStrokeActive{
    stroke: var(--white);
}

.dashboardAdmin .listMenu:hover .svgStroke{
   stroke: #FFFFFF !important;
}

.dashboardAdmin .listMenu p{
    font-size: 15px;
 }

.dashboardAdmin .listMenu:hover p{
   color: var(--white);
}

.dashboardAdmin .imgProfil{
    margin-top: -50px;
}
.dashboardAdmin .school{
    color: var(--gray);
    margin-top: 4px;
    font-size: 14px;
}
.dashboardAdmin h4{
    margin-top: 15px;
    font-size: 18px;
    font-weight: var(--semiBold);
}
.dashboardAdmin svg{
    margin-right: 20px;
}
.dashboardAdmin .contentLeft{
    padding-left: 20px;
    padding: 0;
}

.dashboardAdmin .headerz{
    background: var(--primary);
    width: 100%;
    height: 100px;
}


/* SCORE SECTION */

.score .lottiez{
    opacity: .2;
    position: absolute;
    top: 100px;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:50%;
    height: 30%;
}

.score button:nth-child(2){
    margin-top: 20px;
}


.score .bodyz .desc h2{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: var(--semiBold);
}

.score .bodyz .scoreWrapper{
    position: relative;
    margin: 50px 0;
}

.score .bodyz {
    padding-top: 70px;
    padding-bottom: 120px;
}

.score .bodyz .scoreWrapper h4{
    position: absolute;
    /* top: 40%;
    left: 50%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:50%;
    height: 30%;
    font-weight: var(--semiBold);
    font-size: 35px;
}

.score .head .col{
    padding-left: 0;
}

.score .bodyz .arrowQuestionWrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    background: var(--white);
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    transition: .3s;
}

.score .bodyz .questionListHead{
    background: var(--primary);
    padding: 10px 10px 10px 30px;
}

.score .bodyz .questionListHead .arrowQuestionWrapper:hover{
    cursor: pointer;
    transform: translateX(-5px);
    transition: .3s;
    background: rgba(255, 255, 255, .9);
}

.score .head{
    background: #383838;
    padding: 20px 30px;
}

.score .head .profilWrapper h4{
    margin-bottom: 10px;
    color: var(--white);
}

.score .head .profilWrapper p{
    color: var(--gray);
}

.score .head .profilWrapper img{
    margin-right: 20px;
}

.score {
    background: var(--white);
    position: relative;
    overflow: scroll;
}

/* READING SECTION */
.reading .desc{
    margin-bottom: 70px;
    line-height: 35px;
}

.reading .bodyz .testSpaceBody .myButtonSuccess{
    right: 30px;
    position: absolute;
}

.reading .bodyz .testSpaceBody .questionWrapper{
   margin-bottom: 70px;
}

.reading .bodyz .testSpaceHead .countDown{
    background: var(--black);
    padding: 5px 20px;
    border-radius: 4px;
}

.reading .bodyz .testSpaceHead .countDown p{
    color: var(--white);
    font-size: 18px;
}

.reading .buttonWrapper{
    margin-top: 120px;
}

.reading .buttonWrapper button{
    margin-right: 12px;
}

.reading .bodyz .testSpaceBody .choiceWrapper{
    margin-bottom: 20px;
 }

.reading .bodyz .testSpaceBody .question{
    margin-bottom: 40px;
 }


.reading .bodyz .testSpaceBody .choice{
   background: var(--bgLightBlue);
   border: solid 1px #E5E5E5;
   width: 38px;
   height: 38px;
   border-radius: 2000px;
   text-align: center;
   margin-right: 15px;
}

.reading .bodyz .testSpaceBody .choice p{
    justify-content: center;
    display: flex;
    line-height: 38px;
}

.reading .bodyz .testSpaceBody p{
   font-size: 18px;
}

.reading .bodyz .testSpaceBody{
    margin-top: 10px;
    padding: 30px 30px 40px 30px;
    background: white;
    border: solid 1px #E5E5E5;
}

.reading .bodyz .testSpaceHead h4{
    font-size: 18px;
    color: var(--gray);
    font-weight: var(--medium);
}

.reading .bodyz .testSpaceHead h4 span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.reading .bodyz .testSpaceHead{
    border: solid 1px #E5E5E5;
    background: var(--white);
    padding: 10px 30px 10px 30px;
}

.reading .questionListBody .row{
    margin-left: 0;
    margin-right: 0;
}

.reading .bodyz .numberWrapper{
    margin-top: 15px;
    background: var(--white);
    /* padding: 14px 0; */
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #E5E5E5;
    text-align: center;
    transition: .3s;
}

.reading .bodyz .numberWrapper:hover{
    transform: translateY(-5px);
    transition: .3s;
    cursor: pointer;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, .1);
}


.reading .bodyz .questionListBody{
    border: solid 1px #E5E5E5;
    height: 450px;
    overflow: scroll;
    padding: 20px 30px 30px 30px;
    background: var(--bgInput);
}

.reading .bodyz .questionListBody .infoAnswered{
    color: var(--gray);
}

.reading .bodyz .questionListBody .infoAnswered span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.reading .bodyz .questionListHead h4{
    font-size: 18px;
    color: var(--white);
    font-weight: var(--semiBold);
}

.reading .bodyz{
    margin-top: 10px;
}

.reading .bodyz .col-lg-3{
    padding-left: 0;

}

.reading .head .col{
    padding-left: 0;
}

.reading .bodyz .arrowQuestionWrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    background: var(--white);
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    transition: .3s;
}

.reading .bodyz .questionListHead{
    background: var(--primary);
    padding: 10px 10px 10px 30px;
}

.reading .bodyz .questionListHead .arrowQuestionWrapper:hover{
    cursor: pointer;
    transform: translateX(-5px);
    transition: .3s;
    background: rgba(255, 255, 255, .9);
}

.reading .head{
    background: #383838;
    padding: 20px 30px;
}

.reading .head .profilWrapper h4{
    margin-bottom: 10px;
    color: var(--white);
}

.reading .head .profilWrapper p{
    color: var(--gray);
}

.reading .head .profilWrapper img{
    margin-right: 20px;
}

.reading {
    background: var(--bgLightBlue);
    position: relative;
    overflow: scroll;
}


/* LISTENING SECTION */
.listening .textWarning{
    width: 456px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px !important;
}
.listening .bodyz .testSpaceBody .myButtonSuccess{
    right: 30px;
    position: absolute;
}

.listening .bodyz .testSpaceHead .countDown{
    background: var(--black);
    padding: 5px 20px;
    border-radius: 4px;
}

.listening .bodyz .testSpaceHead .countDown p{
    color: var(--white);
    font-size: 18px;
}

.listening .buttonWrapper{
    margin-top: 120px;
}

.listening .buttonWrapper button{
    margin-right: 12px;
}

.listening .bodyz .testSpaceBody .choiceWrapper{
    margin-bottom: 20px;
}

.listening .bodyz .testSpaceBody .question{
    margin-bottom: 40px;
}

.listening .bodyz .testSpaceBody .questionWrapper{
    margin-top: 70px;
}

.listening .bodyz .testSpaceBody audio{
    margin-bottom: 40px;
    
}

.listening .bodyz .testSpaceBody .choice{
   background: var(--bgLightBlue);
   border: solid 1px #E5E5E5;
   width: 38px;
   height: 38px;
   border-radius: 2000px;
   text-align: center;
   margin-right: 15px;
}

.listening .bodyz .testSpaceBody .question p i{
    color: var(--gray);
}

.listening .bodyz .testSpaceBody .choice p{
    justify-content: center;
    display: flex;
    line-height: 38px;
}

.listening .bodyz .testSpaceBody p{
   font-size: 18px;
}

.listening .bodyz .testSpaceBody{
    margin-top: 10px;
    padding: 30px 30px 40px 30px;
    background: white;
    border: solid 1px #E5E5E5;
}

.listening .bodyz .testSpaceHead h4{
    font-size: 18px;
    color: var(--gray);
    font-weight: var(--medium);
}

.listening .bodyz .testSpaceHead h4 span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.listening .bodyz .testSpaceHead{
    border: solid 1px #E5E5E5;
    background: var(--white);
    padding: 10px 30px 10px 30px;
}

.listening .questionListBody .row{
    margin-left: 0;
    margin-right: 0;
}

.listening .bodyz .numberWrapper{
    margin-top: 15px;
    background: var(--white);
    /* padding: 14px 0; */
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #E5E5E5;
    text-align: center;
    transition: .3s;
}

.listening .bodyz .numberWrapper:hover{
    transform: translateY(-5px);
    transition: .3s;
    cursor: pointer;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, .2);
}



.listening .bodyz .questionListBody{
    border: solid 1px #E5E5E5;
    height: 450px;
    overflow: scroll;
    padding: 20px 30px 30px 30px;
    background: var(--bgInput);
}

.listening .bodyz .questionListBody .infoAnswered{
    color: var(--gray);
}

.listening .bodyz .questionListBody .infoAnswered span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.listening .bodyz .questionListHead h4{
    font-size: 18px;
    color: var(--white);
    font-weight: var(--semiBold);
}

.listening .bodyz{
    margin-top: 10px;
}

.listening .bodyz .col-lg-3{
    padding-left: 0;
}

.listening .head .col{
    padding-left: 0;
}

.listening .bodyz .arrowQuestionWrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    background: var(--white);
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    transition: .3s;
}

.listening .bodyz .questionListHead{
    background: var(--primary);
    padding: 10px 10px 10px 30px;
}

.listening .bodyz .questionListHead .arrowQuestionWrapper:hover{
    cursor: pointer;
    transform: translateX(-5px);
    transition: .3s;
    background: rgba(255, 255, 255, .9);
}

.listening .head{
    background: #383838;
    padding: 20px 30px;
}

.listening .head .profilWrapper h4{
    margin-bottom: 10px;
    color: var(--white);
}

.listening .head .profilWrapper p{
    color: var(--gray);
}

.listening .head .profilWrapper img{
    margin-right: 20px;
}

.listening {
    background: var(--bgLightBlue);
    position: relative;
    overflow: scroll;
}


/* GRAMMAR SECTION */

.grammar .bodyz .testSpaceBody .myButtonSuccess{
    right: 30px;
    position: absolute;
}

.grammar .bodyz .testSpaceHead .countDown{
    background: var(--black);
    padding: 5px 20px;
    border-radius: 4px;
}

.grammar .bodyz .testSpaceHead .countDown p{
    color: var(--white);
    font-size: 18px;
}

.grammar .buttonWrapper{
    margin-top: 120px;
}

.grammar .buttonWrapper button{
    margin-right: 12px;
}

.grammar .bodyz .testSpaceBody .choiceWrapper{
    margin-bottom: 20px;
 }

.grammar .bodyz .testSpaceBody .question{
    margin-bottom: 40px;
 }


.grammar .bodyz .testSpaceBody .choice{
   background: var(--bgLightBlue);
   border: solid 1px #E5E5E5;
   width: 38px;
   height: 38px;
   border-radius: 2000px;
   text-align: center;
   margin-right: 15px;
}

.grammar .bodyz .testSpaceBody .choice p{
    justify-content: center;
    display: flex;
    line-height: 38px;
}

.grammar .bodyz .testSpaceBody p{
   font-size: 18px;
}

.grammar .bodyz .testSpaceBody{
    margin-top: 10px;
    padding: 30px 30px 40px 30px;
    background: white;
    border: solid 1px #E5E5E5;
}

.grammar .bodyz .testSpaceHead h4{
    font-size: 18px;
    color: var(--gray);
    font-weight: var(--medium);
}

.grammar .bodyz .testSpaceHead h4 span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.grammar .bodyz .testSpaceHead{
    border: solid 1px #E5E5E5;
    background: var(--white);
    padding: 10px 30px 10px 30px;
}

.grammar .questionListBody .row{
    margin-left: 0;
    margin-right: 0;
}

.grammar .bodyz .numberWrapper{
    margin-top: 15px;
    background: var(--white);
    /* padding: 14px 0; */
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #E5E5E5;
    text-align: center;
    transition: .3s;
}

.grammar .bodyz .numberWrapper:hover{
    transform: translateY(-5px);
    transition: .3s;
    cursor: pointer;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, .2);
}



.grammar .bodyz .questionListBody{
    border: solid 1px #E5E5E5;
    height: 450px;
    overflow: scroll;
    padding: 20px 30px 30px 30px;
    background: var(--bgInput);
}

.grammar .bodyz .questionListBody .infoAnswered{
    color: var(--gray);
}

.grammar .bodyz .questionListBody .infoAnswered span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.grammar .bodyz .questionListHead h4{
    font-size: 18px;
    color: var(--white);
    font-weight: var(--semiBold);
}

.grammar .bodyz{
    margin-top: 10px;
}

.grammar .bodyz .col-lg-3{
    padding-left: 0;
}

.grammar .head .col{
    padding-left: 0;
}

.grammar .bodyz .arrowQuestionWrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    background: var(--white);
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    transition: .3s;
}

.grammar .bodyz .questionListHead{
    background: var(--primary);
    padding: 10px 10px 10px 30px;
}

.grammar .bodyz .questionListHead .arrowQuestionWrapper:hover{
    cursor: pointer;
    transform: translateX(-5px);
    transition: .3s;
    background: rgba(255, 255, 255, .9);
}

.grammar .head{
    background: #383838;
    padding: 20px 30px;
}

.grammar .head .profilWrapper h4{
    margin-bottom: 10px;
    color: var(--white);
}

.grammar .head .profilWrapper p{
    color: var(--gray);
}

.grammar .head .profilWrapper img{
    margin-right: 20px;
}

.grammar {
    background: var(--bgLightBlue);
    position: relative;
    overflow: scroll;
}



/* TRIAL SECTION */

.trial .bodyz .testSpaceBody .myButtonSuccess{
    right: 30px;
    position: absolute;
}

.trial .bodyz .testSpaceHead .countDown{
    background: var(--black);
    padding: 5px 20px;
    border-radius: 4px;
}

.trial .bodyz .testSpaceHead .countDown p{
    color: var(--white);
    font-size: 18px;
}

.trial .buttonWrapper{
    margin-top: 120px;
}

.trial .buttonWrapper button{
    margin-right: 12px;
}

.trial .bodyz .testSpaceBody .choiceWrapper{
    margin-bottom: 20px;
 }

.trial .bodyz .testSpaceBody .question{
    margin-bottom: 40px;
 }


.trial .bodyz .testSpaceBody .choice{
   background: var(--bgLightBlue);
   border: solid 1px #E5E5E5;
   width: 38px;
   height: 38px;
   border-radius: 2000px;
   text-align: center;
   margin-right: 15px;
}

.trial .bodyz .testSpaceBody .choice p{
    justify-content: center;
    display: flex;
    line-height: 38px;
}

.trial .bodyz .testSpaceBody p{
   font-size: 18px;
}

.trial .bodyz .testSpaceBody{
    margin-top: 10px;
    padding: 30px 30px 40px 30px;
    background: white;
    border: solid 1px #E5E5E5;
}

.trial .bodyz .testSpaceHead h4{
    font-size: 18px;
    color: var(--gray);
    font-weight: var(--medium);
}

.trial .bodyz .testSpaceHead h4 span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.trial .bodyz .testSpaceHead{
    border: solid 1px #E5E5E5;
    background: var(--white);
    padding: 10px 30px 10px 30px;
}

.trial .questionListBody .row{
    margin-left: 0;
    margin-right: 0;
}

.trial .bodyz .numberWrapper{
    margin-top: 15px;
    background: var(--white);
    /* padding: 14px 0; */
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #E5E5E5;
    text-align: center;
    transition: .3s;
}

.trial .bodyz .numberWrapper:hover{
    transform: translateY(-5px);
    transition: .3s;
    cursor: pointer;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, .2);
}



.trial .bodyz .questionListBody{
    border: solid 1px #E5E5E5;
    height: 450px;
    overflow: scroll;
    padding: 20px 30px 30px 30px;
    background: var(--bgInput);
}

.trial .bodyz .questionListBody .infoAnswered{
    color: var(--gray);
}

.trial .bodyz .questionListBody .infoAnswered span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.trial .bodyz .questionListHead h4{
    font-size: 18px;
    color: var(--white);
    font-weight: var(--semiBold);
}

.trial .bodyz{
    margin-top: 10px;
}

.trial .bodyz .col-lg-3{
    padding-left: 0;
}

.trial .head .col{
    padding-left: 0;
}

.trial .bodyz .arrowQuestionWrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    background: var(--white);
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    transition: .3s;
}

.trial .bodyz .questionListHead{
    background: var(--primary);
    padding: 10px 10px 10px 30px;
}

.trial .bodyz .questionListHead .arrowQuestionWrapper:hover{
    cursor: pointer;
    transform: translateX(-5px);
    transition: .3s;
    background: rgba(255, 255, 255, .9);
}

.trial .head{
    background: #383838;
    padding: 20px 30px;
}

.trial .head .profilWrapper h4{
    margin-bottom: 10px;
    color: var(--white);
}

.trial .head .profilWrapper p{
    color: var(--gray);
}

.trial .head .profilWrapper img{
    margin-right: 20px;
}

.trial {
    background: var(--bgLightBlue);
    position: relative;
    overflow: scroll;
}

/* PRE SECTION LISTENING */
.preListening .row:nth-child(4) .choice{
    font-size: 18px;
    line-height: 40px;
}

.preListening .row:nth-child(4) .choiceWrapper{
    border-radius: 2000px;
    border: #E5E5E5 solid 1px;
    width: 40px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    height: 40px;
    background: var(--bgLightBlue);
}
.preListening .row{
    padding: 50px 70px;
}
.preListening .row:nth-child(1){
    background: var(--bgLightBlue);
}
.preListening .row:nth-child(2){
    background: var(--bgInput);
}
.preListening .row:nth-child(3) h3+p+h3{
    margin-top: 70px;
}
.preListening .row:nth-child(4) .col>h3+p, .preListening .row:nth-child(4) .col>h3+p+div+p,.preListening .row:nth-child(4) .col>h3+p+div+p+div+p{
    color: var(--gray);
    margin-top: 40px;
}
.preListening h2{
    font-size: 30px;
    font-weight: var(--semiBold);
}

.preListening h3{
    font-size: 20px;
}

.preListening h4{
    font-size: 18px;
    margin-top: 10px;
    color: #FFC309;
}

.preListening span{
    font-size: 18px;
    margin-top: 10px;
    color: var(--black);
    font-weight: var(--semiBold);
}

.preListening p{
    font-size: 16px;
    line-height: 32px;
    margin-top: 20px;
}

.preListening{
    padding-bottom: 100px;
}
/* DASHBOARD */

/* HELPDESK */
.dashboard .helpDesk .kontak img{
    margin-right: 15px;
}

.dashboard .helpDesk .kontak h5{
    font-weight: var(--medium);
    margin-top: 4px;
    font-size: 16px;
}

.dashboard .helpDesk button{
    margin-top: 30px;
}
.dashboard .helpDesk .form p, .dashboard .helpDesk .kontak p{
    font-size: 16px;
    color: var(--gray);
}

.dashboard .helpDesk .inputWrapper input, .dashboard .helpDesk .inputWrapper textarea{
    margin-top: 15px;
 }

.dashboard .helpDesk .inputWrapper {
    margin-bottom: 30px;
}

.dashboard .helpDesk .inputWrapper:nth-child(4) {
    margin-bottom: 0;
 }


.dashboard .helpDesk .rowInputWrapper{
    background: var(--white);
    padding: 20px 20px 20px 20px;
    border-radius: 4px;
}

/* UPDATE SEKOLAH */
.dashboard .updateSekolah .listTask{
    margin-top: 0 !important;
}

.dashboard .updateSekolah .listTask .row:nth-child(3){
    margin-top: 60px;
}
.dashboard .updateSekolah .listTask .row:nth-child(2){
    margin-top: 30px;
}
.dashboard .updateSekolah .listTask .row .col-lg-6:nth-child(1){
    padding-left: 0;
}
.dashboard .updateSekolah .inputWrapper input{
   margin-top: 15px;
}
.dashboard .updateSekolah .rowInputWrapper{
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
}
.dashboard .updateSekolah .pagination a>h3{
    padding-right: 0;
    color: var(--primary);
    font-weight: var(--medium);
}
.dashboard .updateSekolah .pagination a>h3:hover{
   text-decoration: underline;
   color: #0c2f6b;
}
.dashboard .updateSekolah .pagination a+h3+a h3{
    padding-left: 0;
    color: var(--primary);
    font-weight: var(--medium);
}

.dashboard .updateSekolah .pagination a+h3+a+h3+h3{
    padding-left: 0;
}

.dashboard .updateSekolah .pagination .clean{
    padding-right: 16px;
    padding-left: 16px;
}

/* UPDATE EMAIL & PASSWORD */

.dashboard .updateEmail .listTask, .dashboard .updatePassword .listTask{
    margin-top: 0 !important;
}

.dashboard .updateEmail .listTask .row:nth-child(3), .dashboard .updatePassword .listTask .row:nth-child(3){
    margin-top: 60px;
}
.dashboard .updateEmail .listTask .row:nth-child(2), .dashboard .updatePassword .listTask .row:nth-child(2){
    margin-top: 30px;
}
.dashboard .updateEmail .listTask .row .col-lg-6:nth-child(1), .dashboard .updatePassword .listTask .row .col-lg-6:nth-child(1){
    padding-left: 0;
}
.dashboard .updateEmail .inputWrapper input, .dashboard .updatePassword .inputWrapper input{
   margin-top: 15px;
}
.dashboard .updateEmail .rowInputWrapper, .dashboard .updatePassword .rowInputWrapper{
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
}
.dashboard .updateEmail .pagination a>h3, .dashboard .updatePassword .pagination a>h3{
    padding-right: 0;
    color: var(--primary);
    font-weight: var(--medium);
}
.dashboard .updateEmail .pagination a>h3:hover, .dashboard .updatePassword .pagination a>h3:hover{
   text-decoration: underline;
   color: #0c2f6b;
}
.dashboard .updateEmail .pagination a+h3+a h3, .dashboard .updatePassword .pagination a+h3+a h3{
    padding-left: 0;
    color: var(--primary);
    font-weight: var(--medium);
}

.dashboard .updateEmail .pagination a+h3+a+h3+h3, .dashboard .updatePassword .pagination a+h3+a+h3+h3{
    padding-left: 0;
}

.dashboard .updateEmail .pagination .clean, .dashboard .updatePassword .pagination .clean{
    padding-right: 16px;
    padding-left: 16px;
}

/* EDIT PROFIL */
.dashboard .editProfil .pagination a h3{
    color: var(--primary);
    font-weight: var(--medium);
}

.dashboard .editProfil .pagination a h3:hover{
    text-decoration: underline;
    color: #0c2f6b;
}

.dashboard .editProfil .pagination h3:nth-child(2){
    padding-right: 16px;
    padding-left: 16px;
}

.dashboard .editProfil .pagination h3:nth-child(1){
    padding-right: 0;
}
.dashboard .editProfil .pagination h3:nth-child(3){
    padding-left: 0;
}

.dashboard .editProfil .listWrapper{
    background: none !important;
}

.dashboard .editProfil .listTask .row .col-lg-4:nth-child(1){
    padding-left: 0;
}

.dashboard .editProfil .listTask{
    margin-top: 0 !important;
}

.dashboard .editProfil .cardz h5{
    font-size: 18px;
    margin-bottom: 8px;
}

.dashboard .editProfil .cardz {
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
}

.dashboard .editProfil .cardz img{
    margin-right: 20px;
}
.dashboard .editProfil .cardz h5{
    font-size: 18px;
    margin-bottom: 8px;
}


/* PROFIL */
.dashboard .profil .listTask{
    margin-top: 0 !important;
}



/* RIWAYAT TES */
.dashboard .riwayatTes .row:nth-child(2) .col-lg-12 .listTask{
    margin-top: 0;
}
.dashboard .riwayatTes button{
    width:70%;
}
.dashboard .riwayatTes .detailTest .col-lg-2:nth-child(4) h5{
    color: #F24444;
}
.dashboard .riwayatTes .detailTest .col-lg-2:nth-child(5) h5{
    color: #FFC309;
}
.dashboard .riwayatTes .detailTest .col-lg-2:nth-child(6) h5{
    color: #86D723;
}
.dashboard .riwayatTes .detailTest .col-lg-2{
    display: flex;
    justify-content: center;
}
.dashboard .riwayatTes .listWrapper{
    margin-bottom: 25px;
}

.dashboard .riwayatTes .detailTest{
    margin-top: -25px;
    margin-bottom: 25px;
    background: var(--white);
    border-top: solid 1px #B2AFAF80;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
}
.dashboard .riwayatTes .content{
    padding-top: 0 !important;
}

/* AMBIL TES */
.dashboard .ambilTest .myInput2:hover{
    background: #2167e020;
    transition: .3s;
}

/* content right */
.dashboard .listWrapper{
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 25px;
}


.dashboard .listTask h5{
    font-size: 16px;
    font-weight: var(--semiBold);
    margin-top: 4px;
}

.dashboard .listTask p{
    font-size: 16px;
    color: var(--gray);
}

.dashboard .listTask{
    margin-top: 40px;
}
.dashboard .inputBar{
    cursor: pointer;
}
.dashboard .listTest{
    border-top: 1px solid rgb(228, 225, 225);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: var(--white);
}
.dashboard .listTest p{
    cursor: pointer;
    padding: 20px 20px;
    transition: .3s;
}
.dashboard .listTest p:hover{
    background: var(--primary);
    color: var(--white);
    transition: .3s;
}
.dashboard .listTest{
    /* padding: 12px 20px; */
}

.dashboard .contentRight .content{
    background: var(--bgLightBlue);
    padding: 20px 30px;
}

.dashboard .contentRight h4{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: var(--medium);
}
.dashboard .contentRight h3{
    padding: 20px 30px;
    color: var(--black);
    font-size: 20px;
    font-weight: var(--semiBold);
}

.dashboard .contentRight .inputWrapper .inputBar{
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
}

.dashboard input{
    font-size: 15px;
}


/* content left */
.dashboard .listMenuLogout{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    padding: 15px 20px;
    transition: .3s;
    cursor: pointer;
}

.dashboard .listMenuLogout p{
    color: #EB435A;
}


.dashboard .listMenuLogout p{
    transition: .3s;
}


.dashboard .listMenuLogout:hover p{
    cursor: pointer;
    transform: translateX(10px);
    transition: .3s;
}

.dashboard .menuWrapper{
    text-align: center;
    /* padding-left: 30px; */
    margin: 40px 10px 10px 10px;
}

.dashboard .listMenu{
    margin-bottom: 10px;
    padding: 15px 20px;
    transition: .3s;
}

.dashboard .listMenu:hover{
    cursor: pointer;
    border-radius: 4px;
    background: var(--primary);
    transition: .3s;
}

.listMenuActive{
    color: white;
    border-radius: 4px;
    background: var(--primary);
    padding: 15px 20px;
}

.svgStrokeActive{
    stroke: var(--white);
}

.dashboard .listMenu:hover .svgStroke{
   stroke: #FFFFFF !important;
}

.dashboard .listMenu p{
    font-size: 15px;
 }

.dashboard .listMenu:hover p{
   color: var(--white);
}

.dashboard .imgProfil{
    margin-top: -50px;
}
.dashboard .school{
    color: var(--gray);
    margin-top: 4px;
    font-size: 14px;
}
.dashboard h4{
    margin-top: 15px;
    font-size: 18px;
    font-weight: var(--semiBold);
}
.dashboard svg{
    margin-right: 20px;
}
.dashboard .contentLeft{
    padding-left: 20px;
    padding: 0;
}

.dashboard .headerz{
    background: var(--primary);
    width: 100%;
    height: 100px;
}

/* LOGIN */
.login a:hover{
    text-decoration: underline;
    color: #0c2f6b;
}
.login .contentLeft{
    /* background: var(--primary); */
    height: 100%;
}

.login .inputWrapper{
    margin-bottom: 20px;
}

.login button{
    margin-top: 30px;
    margin-bottom: 50px;
}

.login .desc{
    margin-top: 20px;
    margin-bottom: 50px;
}

.login p span a{
    color: var(--primary);
}

.login .col-lg-6 .row{
    flex-direction: column;
    height: 100%;
}

.login .contentLeft{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h4{
    color: white;
    margin-top: 40px;
    font-size: 28px;
}

/* REGISTER */
.register a:hover{
    text-decoration: underline;
    color: #0c2f6b;
}

.register .contentLeft{
    /* background: var(--primary); */
    height: 100%;
}

.register .inputWrapper{
    margin-bottom: 20px;
}

.register button{
    margin-top: 30px;
    margin-bottom: 50px;
}

.register .desc{
    margin-top: 20px;
    margin-bottom: 50px;
}

.register p span a{
    color: var(--primary);
}

.register .col-lg-6 .row{
    flex-direction: column;
    height: 100%;
}

.register .contentLeft{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register .contentLeft img{
   /* margin-top: 200px; */
}

.register h4{
    color: white;
    margin-top: 40px;
    font-size: 28px;
}