/* GLOBAL */
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";

}
p,h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    color: var(--black);
}

.pl-0{
    padding-left: 0;
}

p{
    font-size: 16px;
}

.textWarning{
    color: var(--black);
    background: #F7F0E6;
    border: #FFC309 1px solid;
    padding: 12px 20px;
    border-radius: 4px;
}

.numberSelected{
    border: solid 2px #3980FF !important;
}

.numberSelected2{
    color: var(--primary) !important;
}

.numberAnswered{
    background: #494747 !important;
    border: solid 2px #494747 !important;
}

.numberAnswered2{
    color: var(--white) !important;
}

.scroll{
    flex-wrap: wrap;
    overflow: scroll;
}

.clean{
    padding: 0;
    margin: 0;
}

.h100{
    height: 100%;
}

::placeholder { 
    color: #C8C8C8;
    font-size: 15px;
}

a{
    text-decoration: none;
}

.displayNone{
    display: none !important;
}

.displayBlock{
    display: block !important;
}

.buttonFull{
    background: var(--primary);
    width: 100%;
    border-radius: 4px;
    padding: 15px 0;
    border: none;
    color: var(--white);
    transition: .3s;
}

.buttonFull:hover{
    transition: .3s;
    transform: translateY(-10px);
    box-shadow:0px 30px  50px -5px rgba(0, 0, 0, .3);
    background: #2167e0;
}

.myButton1{
    background: var(--primary);
    border-radius: 4px;
    padding: 10px 40px;
    border: none;
    color: var(--white);
    transition: .3s;
}

.myButton2{
    background: var(--bgLightBlue);
    border-radius: 4px;
    padding: 10px 40px;
    border: none;
    color: var(--primary);
    transition: .3s;
}


.myButton2:hover{
    background: rgb(167, 187, 243);
    transform: translateY(-5px);
}

.myButtonDisable{
    background: var(--disable);
    width: 100%;
    border-radius: 4px;
    padding: 10px 30px;
    border: none;
    color: var(--white);
    transition: .3s;
    pointer-events: none;
}

.myButtonSuccess{
    background: #23D760;
    padding: 10px 40px;
    border-radius: 4px;
    border: none;
    color: var(--white);
    transition: .3s;
}

.myButtonSuccess:hover{
    background: #0c9339;
    transform: translateY(-5px);
}

.myButtonDisable2{
    background: var(--disable);
    padding: 10px 40px;
    border-radius: 4px;
    padding: 10px 30px;
    border: none;
    color: var(--white);
    transition: .3s;
    pointer-events: none;
}

.myButton1:hover{
    background: var(--buttonHover);
    transform: translateY(-5px);
}



.myInput{
    background: var(--bgInput);
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    width: 100%;
    padding: 15px 20px;
}

.myInput2{
    background: var(--bgInput);
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    width: 100%;
    padding: 12px 20px;
    transition: .3s;
}


:root {
    --primary: #3980FF;
    --black: #494747;
    --gray: #B2AFAF;
    --white: #FFFFFF;
    --bgLightBlue: #eef1f7;
    --bgInput: #F8F8F8;
    --disable: #B3AFAF;
    --buttonHover: #2167e0;
    /*  */
    --medium: 500;
    --bold: 700;
    --semiBold: 600;
}

.liveGradient {
    background: linear-gradient(-45deg, #4c8bf7, #2167e0, #0c2f6b, #0540a6);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
    
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* LISTENING SECTION */
.listening .textWarning{
    width: 456px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px !important;
}
.listening .bodyz .testSpaceBody .myButtonSuccess{
    right: 30px;
    position: absolute;
}

.listening .bodyz .testSpaceHead .countDown{
    background: var(--black);
    padding: 5px 20px;
    border-radius: 4px;
}

.listening .bodyz .testSpaceHead .countDown p{
    color: var(--white);
    font-size: 18px;
}

.listening .buttonWrapper{
    margin-top: 120px;
}

.listening .buttonWrapper button{
    margin-right: 12px;
}

.listening .bodyz .testSpaceBody .choiceWrapper{
    margin-bottom: 20px;
}

.listening .bodyz .testSpaceBody .question{
    margin-bottom: 40px;
}

.listening .bodyz .testSpaceBody .questionWrapper{
    margin-top: 70px;
}

.listening .bodyz .testSpaceBody audio{
    margin-bottom: 40px;
    
}

.listening .bodyz .testSpaceBody .choice{
   background: var(--bgLightBlue);
   border: solid 1px #E5E5E5;
   width: 38px;
   height: 38px;
   border-radius: 2000px;
   text-align: center;
   margin-right: 15px;
}

.listening .bodyz .testSpaceBody .question p i{
    color: var(--gray);
}

.listening .bodyz .testSpaceBody .choice p{
    justify-content: center;
    display: flex;
    line-height: 38px;
}

.listening .bodyz .testSpaceBody p{
   font-size: 18px;
}

.listening .bodyz .testSpaceBody{
    margin-top: 10px;
    padding: 30px 30px 40px 30px;
    background: white;
    border: solid 1px #E5E5E5;
}

.listening .bodyz .testSpaceHead h4{
    font-size: 18px;
    color: var(--gray);
    font-weight: var(--medium);
}

.listening .bodyz .testSpaceHead h4 span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.listening .bodyz .testSpaceHead{
    border: solid 1px #E5E5E5;
    background: var(--white);
    padding: 10px 30px 10px 30px;
}

.listening .questionListBody .row{
    margin-left: 0;
    margin-right: 0;
}

.listening .bodyz .numberWrapper{
    margin-top: 15px;
    background: var(--white);
    /* padding: 14px 0; */
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #E5E5E5;
    text-align: center;
    transition: .3s;
}

.listening .bodyz .numberWrapper:hover{
    transform: translateY(-5px);
    transition: .3s;
    cursor: pointer;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, .2);
}



.listening .bodyz .questionListBody{
    border: solid 1px #E5E5E5;
    height: 450px;
    overflow: scroll;
    padding: 20px 30px 30px 30px;
    background: var(--bgInput);
}

.listening .bodyz .questionListBody .infoAnswered{
    color: var(--gray);
}

.listening .bodyz .questionListBody .infoAnswered span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.listening .bodyz .questionListHead h4{
    font-size: 18px;
    color: var(--white);
    font-weight: var(--semiBold);
}

.listening .bodyz{
    margin-top: 10px;
}

.listening .bodyz .col-lg-3{
    padding-left: 0;
}

.listening .head .col{
    padding-left: 0;
}

.listening .bodyz .arrowQuestionWrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    background: var(--white);
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    transition: .3s;
}

.listening .bodyz .questionListHead{
    background: var(--primary);
    padding: 10px 10px 10px 30px;
}

.listening .bodyz .questionListHead .arrowQuestionWrapper:hover{
    cursor: pointer;
    transform: translateX(-5px);
    transition: .3s;
    background: rgba(255, 255, 255, .9);
}

.listening .head{
    background: #383838;
    padding: 20px 30px;
}

.listening .head .profilWrapper h4{
    margin-bottom: 10px;
    color: var(--white);
}

.listening .head .profilWrapper p{
    color: var(--gray);
}

.listening .head .profilWrapper img{
    margin-right: 20px;
}

.listening {
    background: var(--bgLightBlue);
    position: relative;
    overflow: scroll;
}



/* TRIAL SECTION */

.trial .bodyz .testSpaceBody .myButtonSuccess{
    right: 30px;
    position: absolute;
}

.trial .bodyz .testSpaceHead .countDown{
    background: var(--black);
    padding: 5px 20px;
    border-radius: 4px;
}

.trial .bodyz .testSpaceHead .countDown p{
    color: var(--white);
    font-size: 18px;
}

.trial .buttonWrapper{
    margin-top: 120px;
}

.trial .buttonWrapper button{
    margin-right: 12px;
}

.trial .bodyz .testSpaceBody .choiceWrapper{
    margin-bottom: 20px;
 }

.trial .bodyz .testSpaceBody .question{
    margin-bottom: 50px;
 }


.trial .bodyz .testSpaceBody .choice{
   background: var(--bgLightBlue);
   border: solid 1px #E5E5E5;
   width: 38px;
   height: 38px;
   border-radius: 2000px;
   text-align: center;
   margin-right: 15px;
}

.trial .bodyz .testSpaceBody .choice p{
    justify-content: center;
    display: flex;
    line-height: 38px;
}

.trial .bodyz .testSpaceBody p{
   font-size: 18px;
}

.trial .bodyz .testSpaceBody{
    margin-top: 10px;
    padding: 30px 30px 40px 30px;
    background: white;
    border: solid 1px #E5E5E5;
}

.trial .bodyz .testSpaceHead h4{
    font-size: 18px;
    color: var(--gray);
    font-weight: var(--medium);
}

.trial .bodyz .testSpaceHead h4 span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.trial .bodyz .testSpaceHead{
    border: solid 1px #E5E5E5;
    background: var(--white);
    padding: 10px 30px 10px 30px;
}

.trial .questionListBody .row{
    margin-left: 0;
    margin-right: 0;
}

.trial .bodyz .numberWrapper{
    margin-top: 15px;
    background: var(--white);
    /* padding: 14px 0; */
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #E5E5E5;
    text-align: center;
    transition: .3s;
}

.trial .bodyz .numberWrapper:hover{
    transform: translateY(-5px);
    transition: .3s;
    cursor: pointer;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, .2);
}



.trial .bodyz .questionListBody{
    border: solid 1px #E5E5E5;
    height: 450px;
    overflow: scroll;
    padding: 20px 30px 30px 30px;
    background: var(--bgInput);
}

.trial .bodyz .questionListBody .infoAnswered{
    color: var(--gray);
}

.trial .bodyz .questionListBody .infoAnswered span{
    color: var(--black);
    font-weight: var(--semiBold);
}

.trial .bodyz .questionListHead h4{
    font-size: 18px;
    color: var(--white);
    font-weight: var(--semiBold);
}

.trial .bodyz{
    margin-top: 10px;
}

.trial .bodyz .col-lg-3{
    padding-left: 0;
}

.trial .head .col{
    padding-left: 0;
}

.trial .bodyz .arrowQuestionWrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    background: var(--white);
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    transition: .3s;
}

.trial .bodyz .questionListHead{
    background: var(--primary);
    padding: 10px 10px 10px 30px;
}

.trial .bodyz .questionListHead .arrowQuestionWrapper:hover{
    cursor: pointer;
    transform: translateX(-5px);
    transition: .3s;
    background: rgba(255, 255, 255, .9);
}

.trial .head{
    background: #383838;
    padding: 20px 30px;
}

.trial .head .profilWrapper h4{
    margin-bottom: 10px;
    color: var(--white);
}

.trial .head .profilWrapper p{
    color: var(--gray);
}

.trial .head .profilWrapper img{
    margin-right: 20px;
}

.trial {
    background: var(--bgLightBlue);
    position: relative;
    overflow: scroll;
}

/* PRE SECTION LISTENING */
.preListening .row:nth-child(4) .choice{
    font-size: 18px;
    line-height: 40px;
}

.preListening .row:nth-child(4) .choiceWrapper{
    border-radius: 2000px;
    border: #E5E5E5 solid 1px;
    width: 40px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    height: 40px;
    background: var(--bgLightBlue);
}
.preListening .row{
    padding: 50px 70px;
}
.preListening .row:nth-child(1){
    background: var(--bgLightBlue);
}
.preListening .row:nth-child(2){
    background: var(--bgInput);
}
.preListening .row:nth-child(3) h3+p+h3{
    margin-top: 70px;
}
.preListening .row:nth-child(4) .col>h3+p, .preListening .row:nth-child(4) .col>h3+p+div+p,.preListening .row:nth-child(4) .col>h3+p+div+p+div+p{
    color: var(--gray);
    margin-top: 40px;
}
.preListening h2{
    font-size: 30px;
    font-weight: var(--semiBold);
}

.preListening h3{
    font-size: 20px;
}

.preListening h4{
    font-size: 18px;
    margin-top: 10px;
    color: #FFC309;
}

.preListening span{
    font-size: 18px;
    margin-top: 10px;
    color: var(--black);
    font-weight: var(--semiBold);
}

.preListening p{
    font-size: 16px;
    line-height: 32px;
    margin-top: 20px;
}

.preListening{
    padding-bottom: 100px;
}
/* DASHBOARD */

/* HELPDESK */
.dashboard .helpDesk .kontak img{
    margin-right: 15px;
}

.dashboard .helpDesk .kontak h5{
    font-weight: var(--medium);
    margin-top: 4px;
    font-size: 16px;
}

.dashboard .helpDesk button{
    margin-top: 30px;
}
.dashboard .helpDesk .form p, .dashboard .helpDesk .kontak p{
    font-size: 16px;
    color: var(--gray);
}

.dashboard .helpDesk .inputWrapper input, .dashboard .helpDesk .inputWrapper textarea{
    margin-top: 15px;
 }

.dashboard .helpDesk .inputWrapper {
    margin-bottom: 30px;
 }

.dashboard .helpDesk .inputWrapper:nth-child(4) {
    margin-bottom: 0;
 }


.dashboard .helpDesk .rowInputWrapper{
    background: var(--white);
    padding: 20px 20px 20px 20px;
    border-radius: 4px;
}

/* UPDATE SEKOLAH */
.dashboard .updateSekolah .listTask{
    margin-top: 0 !important;
}

.dashboard .updateSekolah .listTask .row:nth-child(3){
    margin-top: 60px;
}
.dashboard .updateSekolah .listTask .row:nth-child(2){
    margin-top: 30px;
}
.dashboard .updateSekolah .listTask .row .col-lg-6:nth-child(1){
    padding-left: 0;
}
.dashboard .updateSekolah .inputWrapper input{
   margin-top: 15px;
}
.dashboard .updateSekolah .rowInputWrapper{
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
}
.dashboard .updateSekolah .pagination a>h3{
    padding-right: 0;
    color: var(--primary);
    font-weight: var(--medium);
}
.dashboard .updateSekolah .pagination a>h3:hover{
   text-decoration: underline;
   color: #0c2f6b;
}
.dashboard .updateSekolah .pagination a+h3+a h3{
    padding-left: 0;
    color: var(--primary);
    font-weight: var(--medium);
}

.dashboard .updateSekolah .pagination a+h3+a+h3+h3{
    padding-left: 0;
}

.dashboard .updateSekolah .pagination .clean{
    padding-right: 16px;
    padding-left: 16px;
}

/* UPDATE EMAIL & PASSWORD */

.dashboard .updateEmail .listTask, .dashboard .updatePassword .listTask{
    margin-top: 0 !important;
}

.dashboard .updateEmail .listTask .row:nth-child(3), .dashboard .updatePassword .listTask .row:nth-child(3){
    margin-top: 60px;
}
.dashboard .updateEmail .listTask .row:nth-child(2), .dashboard .updatePassword .listTask .row:nth-child(2){
    margin-top: 30px;
}
.dashboard .updateEmail .listTask .row .col-lg-6:nth-child(1), .dashboard .updatePassword .listTask .row .col-lg-6:nth-child(1){
    padding-left: 0;
}
.dashboard .updateEmail .inputWrapper input, .dashboard .updatePassword .inputWrapper input{
   margin-top: 15px;
}
.dashboard .updateEmail .rowInputWrapper, .dashboard .updatePassword .rowInputWrapper{
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
}
.dashboard .updateEmail .pagination a>h3, .dashboard .updatePassword .pagination a>h3{
    padding-right: 0;
    color: var(--primary);
    font-weight: var(--medium);
}
.dashboard .updateEmail .pagination a>h3:hover, .dashboard .updatePassword .pagination a>h3:hover{
   text-decoration: underline;
   color: #0c2f6b;
}
.dashboard .updateEmail .pagination a+h3+a h3, .dashboard .updatePassword .pagination a+h3+a h3{
    padding-left: 0;
    color: var(--primary);
    font-weight: var(--medium);
}

.dashboard .updateEmail .pagination a+h3+a+h3+h3, .dashboard .updatePassword .pagination a+h3+a+h3+h3{
    padding-left: 0;
}

.dashboard .updateEmail .pagination .clean, .dashboard .updatePassword .pagination .clean{
    padding-right: 16px;
    padding-left: 16px;
}

/* EDIT PROFIL */
.dashboard .editProfil .pagination a h3{
    color: var(--primary);
    font-weight: var(--medium);
}

.dashboard .editProfil .pagination a h3:hover{
    text-decoration: underline;
    color: #0c2f6b;
}

.dashboard .editProfil .pagination h3:nth-child(2){
    padding-right: 16px;
    padding-left: 16px;
}

.dashboard .editProfil .pagination h3:nth-child(1){
    padding-right: 0;
}
.dashboard .editProfil .pagination h3:nth-child(3){
    padding-left: 0;
}

.dashboard .editProfil .listWrapper{
    background: none !important;
}

.dashboard .editProfil .listTask .row .col-lg-4:nth-child(1){
    padding-left: 0;
}

.dashboard .editProfil .listTask{
    margin-top: 0 !important;
}

.dashboard .editProfil .cardz h5{
    font-size: 18px;
    margin-bottom: 8px;
}

.dashboard .editProfil .cardz {
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
}

.dashboard .editProfil .cardz img{
    margin-right: 20px;
}
.dashboard .editProfil .cardz h5{
    font-size: 18px;
    margin-bottom: 8px;
}


/* PROFIL */
.dashboard .profil .listTask{
    margin-top: 0 !important;
}



/* RIWAYAT TES */
.dashboard .riwayatTes .row:nth-child(2) .col-lg-12 .listTask{
    margin-top: 0;
}
.dashboard .riwayatTes button{
    width:70%;
}
.dashboard .riwayatTes .detailTest .col-lg-2:nth-child(4) h5{
    color: #F24444;
}
.dashboard .riwayatTes .detailTest .col-lg-2:nth-child(5) h5{
    color: #FFC309;
}
.dashboard .riwayatTes .detailTest .col-lg-2:nth-child(6) h5{
    color: #86D723;
}
.dashboard .riwayatTes .detailTest .col-lg-2{
    display: flex;
    justify-content: center;
}
.dashboard .riwayatTes .listWrapper{
    margin-bottom: 25px;
}

.dashboard .riwayatTes .detailTest{
    margin-top: -25px;
    margin-bottom: 25px;
    background: var(--white);
    border-top: solid 1px #B2AFAF80;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
}
.dashboard .riwayatTes .content{
    padding-top: 0 !important;
}

/* AMBIL TES */
.dashboard .ambilTest .myInput2:hover{
    background: #2167e020;
    transition: .3s;
}

/* content right */
.dashboard .listWrapper{
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 25px;
}


.dashboard .listTask h5{
    font-size: 16px;
    font-weight: var(--semiBold);
    margin-top: 4px;
}

.dashboard .listTask p{
    font-size: 16px;
    color: var(--gray);
}

.dashboard .listTask{
    margin-top: 40px;
}
.dashboard .inputBar{
    cursor: pointer;
}
.dashboard .listTest{
    border-top: 1px solid rgb(228, 225, 225);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: var(--white);
}
.dashboard .listTest p{
    cursor: pointer;
    padding: 20px 20px;
    transition: .3s;
}
.dashboard .listTest p:hover{
    background: var(--primary);
    color: var(--white);
    transition: .3s;
}
.dashboard .listTest{
    /* padding: 12px 20px; */
}

.dashboard .contentRight .content{
    background: var(--bgLightBlue);
    padding: 20px 30px;
}

.dashboard .contentRight h4{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: var(--medium);
}
.dashboard .contentRight h3{
    padding: 20px 30px;
    color: var(--black);
    font-size: 20px;
    font-weight: var(--semiBold);
}

.dashboard .contentRight .inputWrapper .inputBar{
    background: var(--white);
    padding: 20px;
    border-radius: 4px;
}

.dashboard input{
    font-size: 15px;
}


/* content left */
.dashboard .listMenuLogout{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    padding: 15px 20px;
    transition: .3s;
    cursor: pointer;
}

.dashboard .listMenuLogout p{
    color: #EB435A;
}


.dashboard .listMenuLogout p{
    transition: .3s;
}


.dashboard .listMenuLogout:hover p{
    cursor: pointer;
    transform: translateX(10px);
    transition: .3s;
}

.dashboard .menuWrapper{
    text-align: center;
    /* padding-left: 30px; */
    margin: 40px 10px 10px 10px;
}

.dashboard .listMenu{
    margin-bottom: 10px;
    padding: 15px 20px;
    transition: .3s;
}

.dashboard .listMenu:hover{
    cursor: pointer;
    border-radius: 4px;
    background: var(--primary);
    transition: .3s;
}

.listMenuActive{
    color: white;
    border-radius: 4px;
    background: var(--primary);
    padding: 15px 20px;
}

.svgStrokeActive{
    stroke: var(--white);
}

.dashboard .listMenu:hover .svgStroke{
   stroke: #FFFFFF !important;
}

.dashboard .listMenu p{
    font-size: 15px;
 }

.dashboard .listMenu:hover p{
   color: var(--white);
}

.dashboard .imgProfil{
    margin-top: -50px;
}
.dashboard .school{
    color: var(--gray);
    margin-top: 4px;
    font-size: 14px;
}
.dashboard h4{
    margin-top: 15px;
    font-size: 18px;
    font-weight: var(--semiBold);
}
.dashboard svg{
    margin-right: 20px;
}
.dashboard .contentLeft{
    padding-left: 20px;
    padding: 0;
}

.dashboard .headerz{
    background: var(--primary);
    width: 100%;
    height: 100px;
}

/* LOGIN */
.login a:hover{
    text-decoration: underline;
    color: #0c2f6b;
}
.login .contentLeft{
    /* background: var(--primary); */
    height: 100%;
}

.login .inputWrapper{
    margin-bottom: 20px;
}

.login button{
    margin-top: 30px;
    margin-bottom: 50px;
}

.login .desc{
    margin-top: 20px;
    margin-bottom: 50px;
}

.login p span a{
    color: var(--primary);
}

.login .col-lg-6 .row{
    flex-direction: column;
    height: 100%;
}

.login .contentLeft{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h4{
    color: white;
    margin-top: 40px;
    font-size: 28px;
}

/* REGISTER */
.register a:hover{
    text-decoration: underline;
    color: #0c2f6b;
}

.register .contentLeft{
    /* background: var(--primary); */
    height: 100%;
}

.register .inputWrapper{
    margin-bottom: 20px;
}

.register button{
    margin-top: 30px;
    margin-bottom: 50px;
}

.register .desc{
    margin-top: 20px;
    margin-bottom: 50px;
}

.register p span a{
    color: var(--primary);
}

.register .col-lg-6 .row{
    flex-direction: column;
    height: 100%;
}

.register .contentLeft{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register .contentLeft img{
   /* margin-top: 200px; */
}

.register h4{
    color: white;
    margin-top: 40px;
    font-size: 28px;
}